<article class="login">
  <div class="main-overlay"></div>
  <div class="holder">
    <h2 class="main-title">Attendess</h2>
    <form class="content row">
      <section class="username-box boxes col-12">
        <h3 class="title">Full Name</h3>
        <input class="username-input inputs" type="text" placeholder="Enter Your Name">
      </section>
      <section class="phone-box boxes col-12">
        <h3 class="title">Phone</h3>
        <input class="phone-input inputs" type="number" placeholder="Enter Your Phone">
      </section>
      <section class="email-box boxes col-12">
        <h3 class="title">Email</h3>
        <input class="email-input inputs" type="email" placeholder="Enter Your Email">
      </section>
      <section class="submit-box">
        <input class="submit" type="submit" value="Submit">
      </section>
    </form>
  </div>
</article>
