<article class="login">
  <div class="main-overlay"></div>
  <div class="holder">
    <h2 class="main-title">Attendess</h2>
    <form class="content row" [formGroup]="form" (ngSubmit)="onSubmit()">
      <section class="username-box boxes col-12">
        <h3 class="title">Full Name</h3>
        <input formControlName="fullName" class="username-input inputs" type="text" placeholder="Enter Your Name">
      </section>
      <section class="phone-box boxes col-12">
        <h3 class="title">Phone</h3>
        <input formControlName="phone" class="phone-input inputs" type="number" placeholder="Enter Your Phone">
      </section>
      <section class="phone-box boxes col-12">
        <h3 class="title" >Other People</h3>
        <fa-icon (click)="addCreds()" class="fa"  [icon]="faPluSquare"></fa-icon>
      </section>
      <div formArrayName="credentials" *ngFor="let creds of form.controls.credentials?.value; let i = index">
        <ng-container [formGroupName]="i">
          <section class="email-box boxes col-12">
            <input class="email-input inputs" formControlName="other" type="email" placeholder="Enter Name">
            <fa-icon class="fa" [icon]="faTrash"></fa-icon>
          </section>
        </ng-container>
      </div>
      <section class="submit-box">
        <input class="submit" type="submit" value="Submit">
      </section>
    </form>
  </div>
</article>

